{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

	<link href='http://fonts.googleapis.com/css?family=Raleway:800,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "css/general.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/fuentesIcoMoon.css" %}">
	<link rel="shortcut icon" href="{% static "img/portafolio.png" %}">

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="{% static "js/acciones.js" %}"></script>

	<title>Ian Mendoza Jaimes</title>
</head>
<body>
	<!--Esta es la imagen de inicio-->
	<header class="Inicio">
		<article class="Inicio-contenedor">
			<div class="Inicio-imagen"></div>
			<div class="Inicio-nombre">
				<p>Ian Mendoza Jaimes</p>
				<span class="Inicio-contactos icon-github github"></span>
				<span class="Inicio-contactos icon-facebook facebook"></span>
				<span class="Inicio-contactos icon-twitter twitter"></span>
				<span class="Inicio-contactos icon-googlePlus googlePlus"></span>
			</div>
		</article>
	</header>
	<div class="Tag-Menu"></div>
	<nav class="Menu">
		<ul class="Menu-lista">
			<li class="Menu-elemento inicio"><a href="#">Inicio</a></li>
			<li class="Menu-elemento perfil"><a href="#">Perfil</a></li>
			<li class="Menu-elemento trabajo"><a href="#">Trabajo</a></li>
			<li class="Menu-elemento contactame"><a href="#">Contactame</a></li>
		</ul>
	</nav>

	<section class="Presentacion">
		<h2 class="Presentacion-titulo titulos">Mi perfil</h2>
		<p class="Presentacion-texto">Soy un técnico en programación que no sabe que poner porque eso no importa ahorita, lo que importa es decidir como carajos se va a ver esta pagina, ya despues me pondre a pensar en una descripcion breve pero consisa de mi.</p>
		<!--<img src="img/fondoPadre2.jpg" class="Presentacion-imagen">-->
	</section>

	<section class="Trabajo">
		<h2 class="Trabajo-titulo titulos">Mi trabajo</h2>
		<article class="Trabajo-contenedor">
			<div class="Trabajo-elemento" id="Strongfit">
				<div class="Trabajo-elemental">
					<div class="Trabajo-click invisible"><p>Click para ver más</p></div>
					<div class="Trabajo-contentImg">
						<img src="{% static "img/logo_s.jpg" %}" class="Trabajo-imagen">
						<p class="Trabajo-nombre">StrongFit</p>
					</div>
					<p class="Trabajo-descripcion invisible">Una aplicación destinada a ayudar a las personas a mejorar su salud, proporcionando un conteo calórico, estadísticas, contacto con nutriólogos y más.</p>
				</div>
			</div>
		</article>
	</section>

	<footer class="Contacto">
		<h2 class="Contacto-titulo">Contáctame</h2>
		<div class="Contacto-caja">
			<div class="Contacto-contenedor1">
				<p class="Contacto-noDudes">Si tienes alguna idea que quieres desarrollar no dudes en mandarme un mensaje.</p>
				<div class="Contacto-formulario">
					<form >
						<input type="text" placeholder="Nombre" class="Contacto-nombre" required>
						<input type="email" placeholder="Correo" class="Contacto-email" required>
						<textarea class="Contacto-texto" placeholder="Asunto" required></textarea>
						<input type="submit" class="Contacto-enviar" value="Enviar!">
					</form>
				</div>
			</div>
			<div class="Contacto-contenedor2">
				<p class="Contacto-ademas">También me puedes encontrar en estas redes sociales:</p>
				<p class="Contacto-red"><span class="Contacto-logoRed icon-github github"></span>IanMendozaJaimes</p>
				<p class="Contacto-red"><span class="Contacto-logoRed icon-facebook facebook"></span>Ian Mendoza Jaimes</p>
				<p class="Contacto-red"><span class="Contacto-logoRed icon-twitter twitter"></span>no se</p>
				<p class="Contacto-red"><span class="Contacto-logoRed icon-googlePlus googlePlus"></span>ianmj2013@gmail.com</p>
			</div>
		</div>
	</footer>
</body>
</html>
